{% extends "../base.html" %}
{% load static %}
{% load finance_extras %}
{% block title %}Finance Homepage{% endblock %}


{% block menu %}
{% endblock %}


{%block profile %}      
{% endblock %}

{%block content %}

<div class="container mt-2">
    <h3>Students</h3>
    <hr>
    <form method="get">
        {% csrf_token %}
        <div class="form-group">
        <div class="d-flex">
            
            <input class="form-control ml-2 mt-1 form-control-sm" type="text" onFocus="this.setSelectionRange(0, this.value.length)" name="id_number" id="id_id_number" value="{{ filter.id_number|default:_('') }}" autofocus placeholder="Search Student ID">
            <label class="ml-2 mt-2" for="id_completed">Completed:</label>
            <select class="form-control ml-2 mt-1 form-control-sm" name="completed" id="id_completed" style="max-width: 8em;">
                {% if filter.completed == 'unknown' %}
                    <option value="unknown" selected="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                {% elif filter.completed == 'true' %}
                    <option value="unknown">All</option>
                    <option value="true" selected="">Yes</option>
                    <option value="false">No</option>
                {% else %}
                    <option value="unknown">All</option>
                    <option value="true">Yes</option>
                    <option value="false" selected="">No</option>                
                {% endif %}
            </select>
            <select class="form-control ml-2 mt-1 form-control-sm" name="course" id="id_course" style="max-width: 8em;">
                {% for course in courses %}
                    {% if filter.course == course.acronym %}
                        <option value="{{ course.acronym }}" selected="">{{ course.acronym }}</option>
                    {% else %}
                        <option value="{{ course.acronym }}">{{ course.acronym }}</option>
                    {% endif %}
                {% endfor %}
                
                {% if filter.course == 'unknown' %}
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                {% endif %}
            </select>
            <input type="submit" class="btn btn-secondary btn-sm ml-2" />                    
        </div>
        </div>
    </form>

    {% for student in students %}
    {% get_unsigned_clearance student as offices %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="card-title">
                    <h5>{{ student.user.id_number }} - {{ student.user.fullname }}</h5>
                </div>
                <hr>
                {% if offices|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        <h6 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Unsigned Clearance/s from:</h6>
                        {% for office in offices %}
                            <p>{{ office }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <h6 class="alert-heading"><i class="fa fa-check-circle" aria-hidden="true"></i> All Offices Signed.</h6>
                    </div>	                    
                {% endif %}
            </div>                    
        </div>
    {% endfor %}
</div>
{% endblock %}


{%block scripts %}{% endblock %}
