{% extends "../base.html" %}
{% load static %}
{% load finance_extras %}
{% block title %}Finance Homepage{% endblock %}


{% block menu %}
{% endblock %}


{%block profile %}      
{% endblock %}

{%block content %}

<div class="container mt-2">
    <h3>Students</h3>
    <hr>
    <form method="get">
        {% csrf_token %}
        <div class="form-group">
        <div class="d-flex">
            
            <input class="form-control ml-2 mt-1 form-control-sm" type="text" onFocus="this.setSelectionRange(0, this.value.length)" name="id_number" id="id_id_number" value="{{ filter.id_number|default:_('') }}" autofocus placeholder="Search Student ID">
            <label class="ml-2 mt-2" for="id_completed">Completed:</label>
            <select class="form-control ml-2 mt-1 form-control-sm" name="completed" id="id_completed" style="max-width: 8em;">
                {% if filter.completed == 'unknown' %}
                    <option value="unknown" selected="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                {% elif filter.completed == 'true' %}
                    <option value="unknown">All</option>
                    <option value="true" selected="">Yes</option>
                    <option value="false">No</option>
                {% else %}
                    <option value="unknown">All</option>
                    <option value="true">Yes</option>
                    <option value="false" selected="">No</option>                
                {% endif %}
            </select>
            <select class="form-control ml-2 mt-1 form-control-sm" name="course" id="id_course" style="max-width: 8em;">
                {% for course in courses %}
                    {% if filter.course == course.acronym %}
                        <option value="{{ course.acronym }}" selected="">{{ course.acronym }}</option>
                    {% else %}
                        <option value="{{ course.acronym }}">{{ course.acronym }}</option>
                    {% endif %}
                {% endfor %}
                
                {% if filter.course == 'unknown' %}
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                {% endif %}
            </select>
            <input type="submit" class="btn btn-secondary btn-sm ml-2" />                    
        </div>
        </div>
    </form>

    {% for student in students %}
    {% get_unsigned_clearance student as offices %}
    {% get_verification_status student as student_verified %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="card-title d-flex">
                    <div>
                        <h5>
                            {{ student.user.id_number }} - {{ student.user.fullname }}
                        </h5>
                    </div>
                    <div class="ml-auto">
                        {% if student_verified == True %}
                            <button class="btn btn-success btn-sm" disabled>Verified</button>
                        {% else %}
                            <form action="{% url 'finance_verify' %}" method="POST">
			                    {% csrf_token %}
                                <input type="hidden" name="student_id" value="{{ student.user.id_number }}"/>
                                <input type="submit" class="btn btn-outline-primary btn-sm" value="Verify"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <hr>
                {% if offices|length > 0 %}
                    <div class="alert alert-danger" role="alert">
                        <h6 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Unsigned Clearance/s from:</h6>
                        {% for office in offices %}
                            <p>{{ office }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <h6 class="alert-heading"><i class="fa fa-check-circle" aria-hidden="true"></i> All Offices Signed.</h6>
                    </div>	                    
                {% endif %}
            </div>                    
        </div>
    {% endfor %}
</div>
{% endblock %}


{%block scripts %}

<script>	
	// function docReady(fn) {
	// 	// see if DOM is already available
	// 	if (
	// 		document.readyState === "complete" ||
	// 		document.readyState === "interactive"
	// 	) {
	// 		// call on next available tick
	// 		setTimeout(fn, 1);
	// 	} else {
    
	// 	}
	// }

	// function getCookie(name) {
	// 	var cookieValue = null;
	// 	if (document.cookie && document.cookie !== '') {
	// 		var cookies = document.cookie.split(';');
	// 		for (var i = 0; i < cookies.length; i++) {
	// 			var cookie = cookies[i].trim();
	// 			// Does this cookie string begin with the name we want?
	// 			if (cookie.substring(0, name.length + 1) === (name + '=')) {
	// 				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	// 				break;
	// 			}
	// 		}
	// 	}
	// 	return cookieValue;
	// }

	// function sendVerifyAPI(message){
	// 	let data = new FormData();
	// 	data.append('message',message);
	// 	data.append('user_email','{{ user.email }}');
	// 	data.append('event_id','{{ event_id }}');
	// 	data.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').attr('value'));
	// 	fetch("{% url 'scan_event' %}", {
	// 		method: 'POST',
	// 		body: data,
	// 		credentials: 'same-origin',
	// 	}).then(response => response.text())
	// 	.then(result => alert(result))
	// 	.catch(error => alert.log('error', error));
	// }
</script>

{% endblock %}
