{% extends "base2.html" %} 
{% load static %}
{% block content %} 
{{ block.super }}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="d-flex justify-content-center" style="height: 97vh;">
        <div class="align-self-center card" style="max-width: 400px;">
            <img src="{% static 'img/logo.png' %}" class="card-img-top"  alt="logo">
            <div class="card-body">
                <h5 class="text-center">SPUQC QR Events Attendance and Digital Clearance</h5>
                {% if auth_failed %}
                <div class="alert alert-danger" role="alert">
				{{ message|default:_('Invalid Username or Password') }}
				</div>
                {% endif %}
                <br/>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="flex-row mb-1">
                            <div class="flex-fill">{{ form.username.label_tag }}</div>
                            <div class="flex-fill">{{ form.username }}</div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-fill">{{ form.password.label_tag }}</div>
                            <div class="flex-fill">{{ form.password }}</div>
                        </div>
                        <div class="d-flex mt-4">
                            <input class="btn btn-success" type="submit" value="login" style="width: 100%;" />
                        </div>                
                        <a class="d-flex justify-content-end" href="{% url 'password_reset' %}"><u>Forgot Password</u></a>
                        <input type="hidden" name="next" value="{{ next }}" />
                </form>
                    
            </div>
        </div>

</div>

{% endblock %}
