{% extends "../student/layout.html" %}
{% load static %}

{% load student_extras %}

{% block title %}Student{% endblock %}

{% block header %}
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'css/scheduler.css' %}"/>
{% endblock %}


{%block content %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	
	
{% if term.is_closed %}
<div class="container mt-3">
            <h3>Clearances</h3>
            <hr>
            {% for office in offices %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>{{ office }}</h5>
                            <hr>
                        </div>
                        {% get_clearance term office user.student as clearance %}
                        {% if clearance is None %}
                            <a href="{% url 'request_clearance' office.id %}" class="btn btn-primary btn-sm">Request</a>
                        {% elif clearance.signed %}
                            <button class="btn btn-outline-success btn-sm" disabled>Signed</button>
                        {% elif clearance.reject_reason != '' and not clearance.signed %}
                            <a href="{% url 'request_clearance' office.id %}" class="btn btn-outline-danger btn-sm" disabled>Re-send</a>
                            <span class="text-center flex-fill text-danger m-8"><i class="fa fa-exclamation-circle"></i> {{ clearance.reject_reason }}</span>
                        {% else %}
                            <button class="btn btn-secondary btn-sm" disabled>Pending..</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
{% else %}
<div class="container mt-3">
    <h3>Events</h3>
    <hr>
    <h4>Now Open</h4>
    <!-- <hr> -->
    {% for event in events %}
        {% if event.is_active %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex flex-row card-title mb-0">
                        <div><h5 class="text-uppercase">{{ event.name }}<small><strong>(OPEN)</strong></small></h5></div>
                        <div class="ml-auto">						
                            {% for attendees in event.attendees.all %}
                                <span class="badge badge-success">{{ attendees.acronym }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <small class="card-subtitle text-muted mr-3"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.location.name }}</small> 
                        <small class="card-subtitle text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.event_datetime_from_str }} to {{ event.event_time_to_str }}</small>
                    </div>			
                    <hr>
                    <p class="card-text">{{ event.description }}</p>	
                    {% if not event.alternative_activity is None %}
                        <div class="alert alert-danger" role="alert">
                            <h6 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Failure to attend will be required to:</h6>
                            <p>{{ event.alternative_activity }}</p>
                        </div>						
                    {% endif %}
                    <a class="card-link" href="{% url 'qr_generator' %}"><i class="fa fa-qrcode" aria-hidden="true"></i> Open QR Code</a>                        
                </div>
            </div>
        {% endif %}
    {% endfor %}        
    <h4>Upcoming</h4>
    <!-- <hr> -->
    {% for event in events %}
        {% if not event.has_opened %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex flex-row card-title mb-0">
                        <div><h5 class="text-uppercase">{{ event.name }}</h5></div>
                        <div class="ml-auto">						
                            {% for attendees in event.attendees.all %}
                                <span class="badge badge-success">{{ attendees.acronym }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <small class="card-subtitle text-muted mr-3"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.location.name }}</small> 
                        <small class="card-subtitle text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.event_datetime_from_str }} to {{ event.event_time_to_str }}</small>
                    </div>		
                    <hr>
                    <p class="card-text">{{ event.description }}</p>	
                    {% if not event.alternative_activity is None %}
                        <div class="alert alert-danger" role="alert">
                            <h6 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Failure to attend will be required to:</h6>
                            <p>{{ event.alternative_activity }}</p>
                        </div>						
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}       
    <h4>Closed</h4>
    <!-- <hr> -->
    {% for event in events %}
        {% if not event.is_active %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex flex-row card-title mb-0">
                        <div><h5 class="text-uppercase">{{ event.name }}</h5></div>
                        <div class="ml-auto">						
                            {% for attendees in event.attendees.all %}
                                <span class="badge badge-success">{{ attendees.acronym }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <small class="card-subtitle text-muted mr-3"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.location.name }}</small> 
                        <small class="card-subtitle text-muted mr-3"><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.event_datetime_from_str }} to {{ event.event_time_to_str }}</small>
                        {% has_attended event user.student as attended %}
                        {% if attended %}
                            <small class="card-subtitle text-success"><i class="fa fa-check-circle" aria-hidden="true"></i> ATTENDED</small>
                        {% else %}
                            <small class="card-subtitle text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> ABSENT</small>
                        {% endif %}                                               
                    </div>		
                    <hr>
                    <p class="card-text">{{ event.description }}</p>	
                    {% if not event.alternative_activity is None %}
                        <div class="alert alert-danger" role="alert">
                            <h6 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Failure to attend will be required to:</h6>
                            <p>{{ event.alternative_activity }}</p>
                        </div>						
                    {% endif %}
                </div>
            </div>
        {% endif %}
        
    {% endfor %}       
</div>
{% endif %}
{% endblock %}

{%block scripts %}
{% endblock %}
