{% extends "../base.html" %}
{% load static %}
{% block title %}Create Event{% endblock %}


{% block menu %}
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>        
    </li>        -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_clearances' %}">Clearances</a>        
    </li>   
    <li class="nav-item">
        <a class="nav-link" href="{% url 'qr_generator' %}">QR Generator</a>                
    </li>   
{% endblock %}


{%block profile %}  
{% endblock %}

{%block content %}
    <div id="qr-reader" class=""></div>
    <div id="qr-reader-results"></div>
{% endblock %}


{%block scripts %}{% endblock %}
