{% extends "../student/layout.html" %}


{% block title %}Student{% endblock %}


{%block content %}

<div class="container-fluid" style="max-width: 500px;max-height: 500px;">
    <img src="{{ qr }}" height="100%" width="100%" >
    <h4 class="text-center"><u>{{ user.fullname }}</u></h4>
    <h5 class="text-center"><strong>{{ user.student.course }}</strong></h5>
</div>
{% endblock %}

{%block scripts %}
<script>
    (function da() {
            setInterval(() => {
                location.reload();
            }, 15000);
        })();
</script>
{% endblock %}
