{% extends "../base.html" %}
{% load static %}
{% block title %}Create Event{% endblock %}


{% block menu %}
    <!-- <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>        
    </li>        -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_clearances' %}">Clearances</a>        
    </li>   
    <li class="nav-item">
        <a class="nav-link" href="{% url 'qr_generator' %}">QR Generator</a>                
    </li>   
{% endblock %}


{%block profile %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.email }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="#">Profile</a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="{% url 'logout2' %}">Logout</a>
        </div> 
{% endblock %}

{%block content %}
    <div id="qr-reader" class=""></div>
    <div id="qr-reader-results"></div>
{% endblock %}


{%block scripts %}{% endblock %}
