{% extends "offices/layout.html" %}
{% load static %}
{% load office_extras %}
{% block title %}Create Event{% endblock %}


{%block content %}
{% if not user.office.is_misc %}
<div class="container mt-2">
	<div class="d-flex">
		<h3 class="ml-2">Events</h3>
		<button style="margin-bottom: .5rem;" class="btn btn-outline-primary btn-sm ml-1 align-self-end" data-toggle="modal" data-target="#eventcreationModal"><i class="fa fa-plus"></i> </button>                                        
	</div>
    {% for event in events %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex flex-row card-title mb-0">
                    <div><h5 class="text-uppercase">{{ event.name }}</h5></div>
                    <div class="ml-auto">						
                        {% for attendees in event.attendees.all %}
                            <span class="badge badge-success">{{ attendees.acronym }}</span>
                        {% endfor %}
                    </div>
                </div>
                <small class="card-subtitle text-muted">{{ event.event_datetime_from_str }} to {{ event.event_time_to_str }}</small>
                <hr>				
                <p class="card-text">{{ event.description }}</p>				
                <br>
                <a href="{% url 'event_detail' event.id %}" class="card-link">See Details</a>                
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% include 'offices/clearances/clearance.html' %}
{% endblock %}



{%block scripts %}

{% endblock %}
