{% extends "../base.html" %}
{% load static %}
{% block title %}Create Event{% endblock %}


{% block menu %}
    {% if not user.office.is_misc %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'event' %}">Events</a>        
        </li>       
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'office_clearances' %}">Clearances</a>        
    </li>   
{% endblock %}


{% block profile %}{% endblock %}

{% block content %}{% endblock %}


{% block scripts %}{% endblock %}
